{{#extend "layouts/dashboard/simple" title="pages-error404" bgImg=""  active="pages-error404" path="../../" }}
{{#content "content"}}

<div class="gradient1">
    <div class="container text-center" style="position:relative; top:30vh">
        <img src="{{path}}assets/images/error/404.png" class="img-fluid  w-50" alt=""> 
        <h2 class="mb-0 mt-5 text-white">Page Not Found.</h2>
        <a class="btn btn-primary text-white d-inline-flex align-items-center mt-3" href="../index.html">Back to Home</a>
        <div class="" style="position: absolute; top:0;left:-291px;transform: rotate(-15.75deg);">
            <img src="{{path}}assets/images/error/01.png" alt="error" style="height: 500px" class="d-none d-md-block">
        </div>
    </div>    
</div>
{{/content}}
{{/extend}}