// Soft Button
@each $color, $value in $theme-colors {
    .btn-soft-#{$color} {
      $color: shade-color($value, 10%);
      @if (contrast-ratio(rgba($value, .2), $value) < $min-contrast-ratio){
        $color: $white;
      }
      @include button-variant(rgba($value, .2), rgba($value, .0), $color, rgba($value, .4), rgba($value, .0), $color,rgba($value, .6), rgba($value, 0), tint-color($value, 10%));
      box-shadow: unset;
    }
  }