
{{#extend layout title="privacy-setting" active="user-privacy-setting" path="../../" }}
    {{#content "content"}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Privacy Setting</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="acc-privacy">
                                <div class="data-privacy">
                                    <h4 class="mb-2">Account Privacy</h4>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="acc-private">
                                        <label class="form-check-label mb-2" for="acc-private">Private Account</label>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                </div>
                                <hr>
                                <div class="data-privacy">
                                    <h4 class="mb-2">Activity Status</h4>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="activety" checked="">
                                        <label class="form-check-label privacy-status mb-2" for="activety">Show Activity Status</label>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of
                                        a page when looking at its layout. </p>
                                </div>
                                <hr>
                                <div class="data-privacy">
                                    <h4 class="mb-2"> Story Sharing </h4>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="story" checked="">
                                        <label class="form-check-label privacy-status mb-2" for="story">Allow Sharing</label>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of
                                        a page when looking at its layout. </p>
                                </div>
                                <hr>
                                <div class="data-privacy">
                                    <h4 class="mb-2"> Photo Of You </h4>
                                    <div class="form-check">
                                        <input type="radio" id="automatically" name="customRadio0" class="form-check-input" checked="">
                                        <label class="form-check-label" for="automatically"> Add Automatically</label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input type="radio" id="manualy" name="customRadio0" class="form-check-input">
                                        <label class="form-check-label" for="manualy"> Add Manualy</label>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of
                                        a page when looking at its layout.</p>
                                </div>
                                <hr>
                                <div class="data-privacy">
                                    <h4 class="mb-2"> Your Profile </h4>
                                    <div class="form-check">
                                        <input type="radio" id="public" name="customRadio1" class="form-check-input" checked="">
                                        <label class="form-check-label" for="public"> Public </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" id="friend" name="customRadio1" class="form-check-input">
                                        <label class="form-check-label" for="friend"> Friend </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" id="spfriend" name="customRadio1" class="form-check-input">
                                        <label class="form-check-label" for="spfriend"> Specific Friend </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input type="radio" id="onlyme" name="customRadio1" class="form-check-input">
                                        <label class="form-check-label" for="onlyme"> Only Me </label>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of
                                        a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                        more-or-less normal distribution of letters.</p>
                                </div>
                                <hr>
                                <div class="data-privacy">
                                    <h4 class="mb-2"> Login Notification </h4>
                                    <div class="form-check">
                                        <input type="radio" id="enable" name="customRadio2" class="form-check-input">
                                        <label class="form-check-label" for="enable"> Enable </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input type="radio" id="disable" name="customRadio2" class="form-check-input"
                                            checked="">
                                        <label class="form-check-label" for="disable"> Disable </label>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of
                                        a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                        more-or-less normal distribution of letters.</p>
                                </div>
                                <hr>
                                <div class="data-privacy">
                                    <h4 class="mb-2">Privacy Help</h4>
                                    <a href="#" class="text-primary">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                            <g>
                                            <path  d="M5 9C5 -0.333334 19 -0.333334 19 9" stroke="currentcolor" stroke-width="2"/>
                                            <path  d="M9 16.1596C10.8666 17.331 13.1734 17.2778 15 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
                                            <path  d="M12 22C16.6667 22 19 18.5 19 15" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
                                            <rect  x="18" y="9" width="2" height="6" fill="currentcolor"/>
                                            <path  d="M19 9H21C22.1046 9 23 9.89543 23 11V13C23 14.1046 22.1046 15 21 15H19V9Z" stroke="currentcolor" stroke-width="2"/>
                                            <path  d="M1 11C1 9.89543 1.89543 9 3 9H5V15H3C1.89543 15 1 14.1046 1 13V11Z" stroke="currentcolor" stroke-width="2"/>
                                            <path  d="M4 9H6V15H4V9Z" fill="currentcolor"/>
                                            </g>
                                            </g>
                                        </svg>
                                    Support</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   {{/content}}
{{/extend}}